body{
    font: 20px Arial, sans-serif
}
.quemsomos{
    background-color: 797C7B;
    color: white;
}
.margin{
     padding-bottom: 50px
     
    
}
.Parceiros{
    background-color: 3C6154;
    color: white;
}
.bg-footer{
    background-color: black;
    color: white;
}